env:
  node: true

rules:
  # Possible Errors
  no-console: 2
  valid-jsdoc: [2, {requireReturn: false, requireParamDescription: false, requireReturnDescription: false}]

  # Best Practices
  consistent-return: 0
  curly: 0
  block-scoped-var: 2
  no-else-return: 2
  no-process-env: 2
  no-self-compare: 2
  no-throw-literal: 2
  no-void: 2
  radix: 2
  wrap-iife: [2, outside]

  # Strict Mode
  strict: [2, function]

  # Variables
  no-shadow: 0
  no-use-before-define: [2, nofunc]

  # Node.js, io.js
  no-process-exit: 0
  handle-callback-err: [2, err]
  no-new-require: 2
  no-path-concat: 2

  # Stylistic Issues
  quotes: [2, single]
  camelcase: 0
  indent: [2, 2]
  no-lonely-if: 2
  no-floating-decimal: 2
  brace-style: [2, stroustrup]
  comma-style: [2, last]
  consistent-this: [0, that]
  func-style: [2, expression]
  max-nested-callbacks: [2, 3]
  no-multiple-empty-lines: [2, {max: 1}]
  no-nested-ternary: 2
  no-underscore-dangle: 0
  semi-spacing: [2, {before: false, after: true}]
  operator-assignment: [2, always]
  padded-blocks: [2, never]
  quote-props: [2, always]
  space-before-function-parentheses: [2, never]
  space-after-keywords: [2, always]
  space-before-blocks: [2, always]
  space-in-brackets: [2, never]
  space-in-parens: [2, never]
  space-unary-ops: [2, {words: true, nonwords: false}]
  #spaced-line-comment: [2, always]
  wrap-regex: 2
